@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Styles for layout
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0A545F;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: right bottom;

  // For Retina Monitors
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url('../images/bg-retina.png');
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__navigation {
    padding: 20px;
    max-width: 1680px;
    width: 100%;
    margin-inline: auto;

    @media (min-width: 820px) {
      padding: 50px 80px;

      .logo {
        width: 260px;
      }
    }
  }

  &__main {
    padding: 20px;
    max-width: 1680px;
    width: 100%;
    margin-inline: auto;

    @media (min-width: 820px) {
      padding-inline: 80px;
    }
  }

  &__footer {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #04353C;
    color: #fff;
    font-weight: 300;

    &--text {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: 820px) {
      padding-block: 20px;

      &--text {
        font-size: 16px;
      }
    }
  }
}
