*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0A545F;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: right bottom;

  // For Retina Monitors
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url('../images/bg-retina.png');
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__navigation {
    padding: 20px;
    max-width: 1520px;
    width: 100%;
    margin-inline: auto;
  }

  &__main {
    padding: 20px;
    max-width: 1520px;
    width: 100%;
    margin-inline: auto;
  }

  &__footer {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #04353C;
    color: #fff;

    &-text {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
